*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}



a:link,a:visited{
    text-decoration:none;
    }

	/*Mobile Look design*/
	@media screen and (min-width: 751px) and (max-width: 4000px){
		.header-text-1{display: none;}
		 .chose-a-cos{display: none;}
	
	}
	/*Mobile Look design*/


	/*Pc Look design*/
	@media screen and  (min-width:0px)
	and (max-width:1024px){
		.header-text{display: none;}
	  .header-img{display: none;}
	  .intro-img{display: none;}
	  .abts-img{display: none;}
	  .about-us-tag-2{display: none;}
	}
	/*Pc Look design*/


/*index page design*/
.header-tab{
	width: 100%;
	height: 80px;
	background-color: black;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	opacity: 70%;
	position: fixed;

}

.header-img-tab{
    margin-top: 10px;
	width: 40px;
	height: 40px;
}

.header-img{
	flex-basis: 800px;
}

.header-text{
	flex-basis: 30px;
	padding-right:40px ;
}


.header-img-1{
	flex-basis: 70%;
}

.header-text-1{
	flex-basis: 20%;
}

.header-text p a {
	color: yellow;
	letter-spacing: 1px;
	font-weight: bolder;
	font-size:20px ;
}

.header-text-1 p a {
	color: yellow;
	letter-spacing: 1px;
	font-weight: bolder;
	font-size:20px ;
}

.header-text-1 p {
	color: yellow;
	letter-spacing: 1px;
	font-weight: bolder;
	font-size:20px ;
}



/*Intro Page Design*/
.intro-container{
 height:100% ;
 width:100% ;
padding-top: 10px;
padding-bottom: 20px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items:center ;
 justify-content: center;
 background-color: yellow;
}

.intro-container-tab{
margin-top: 80px;
flex-basis: 600px;
padding-left: 30px;
background-color: yellow;
}


.intro-container-tab h1 {
	font-weight: bolder;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 2px;
	padding-bottom: 30px;
}


.intro-container-tab h3 {
	font-weight: bolder;
	line-height: 30px;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 2px;
	padding-bottom: 50px;
}

.intro-container-tab p a {
	color: black;
	justify-content: center;
	border-style: solid;
	border-color: black;
	padding:10px ;
	border-radius: 100px;
	font-weight: bolder;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 2px;
	margin-top: 10px;
}

.intro-img{
	width: 80%;
	height: 100%;
}

/*Intro Page Design ends*/



/*Services Page Design Start*/
.services-container{
	height: 100%;
	width: 100%;
	display: flex;
	padding-top: 10px;
	flex-direction: row;
	background-color: black;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.services-tab-1{
	flex-basis: 100%;
	text-align: center;
}

.services-tab-1 h2{
   color: white;
   font-size: 40px;
   font-family: 'Times New Roman';
   padding: 10px 0px 10px 0px;
}

.services-tab-1 p{
	color: white;
	font-size: 20px;
	font-family: 'Times New Roman';
	padding: 10px 0px 10px 0px;
 }

 .services-container-2{
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	flex-direction: row;
	background-color: black;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.services-2-tab{
	flex-basis: 400px;
	text-align: left;
	margin: 10px;
	padding:10px;
	color: white;
	font-weight: bolder;
	letter-spacing: 1px;
}

.chose-a-cos{
	border-style: solid;
	border-radius: 25px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.services-img{
	width: 30px;
	height: 30px;
	margin: 10px 5px 20px 5px
}

.services-2-tab p{
	font-size: 14px;
}

.services-2-tab p a{
	font-size: 14px;
}

.services-2-tab h3{
	font-size: 20px;
}

/*Services Page Design ends*/



/*About Us Page Design Start*/
.about-us-container{
	height: 100%;
	width: 100%;
	display: flex;
	padding-top: 15px;
	flex-direction: row;
	background-color: yellow;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.about-us-tag-1{
	flex-basis: 100%;
	background-color: yellow;
	color: black;
	text-align: center;
	letter-spacing: 1px;
	padding: 10px 0px 10px 0px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
	
}

.about-us-tag-1 h3{
	font-size: 40px;
}

.about-us-tag-1 p{
	font-size:18px;
}

.about-us-tag-2{
	flex-basis: 500px;
	line-height: 20px;
	background-color: yellow;
	color: black;
	letter-spacing: 1px;
	padding: 10px 0px 0px 2px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
	
}

.about-us-tag-2 h4{
	font-size: 40px;
	padding: 10px 0px 10px 0px;
}

.abts-img{
	width: 90%;
	height: 100%;
}


/*About Us Page Design End*/


/*Principles Start*/
.principles{
	padding: 20px  0px 10px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 50%;
}

.principles-tabs{
	letter-spacing: 1px;
	text-align: center;
}

.principles-tabs-1{
	flex: 100%;
	letter-spacing: 1px;
	text-justify: auto;
	text-align: center;
}

.principles-tabs-1 h2{
	color: yellow;
	font-size: 12px;
	padding-bottom: 5px;
}

.principles-tabs-1 h4{
	color: black;
	font-size: 24px;
	padding-top: 5px;
}

.principles-tabs-2{
	flex-basis: 350px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 35px;
	padding: 10px 5px 10px 5px;
	margin:20px 5px 10px 10px ;
	box-shadow: 10px 10px 5px black;

}
 .principles-tabs-2:hover {
	background-color: yellow;
 }

 .principles-tabs-2 h3{
	font-size: 18px;
	letter-spacing: 1px;
	padding-bottom: 10px;
	text-shadow: yellow 8px 8px 3px;
 }

 .principles-tabs-2 p{
	font-size: 14px;
	letter-spacing: 1px;
	padding-bottom: 10px;

 }

.principles-img{
	padding-top: 10px;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}

/*Principles End*/

/*Vision Start*/
.vision{
padding: 20px  5px  10px 5px;
background-color: yellow;
}

.wrk-percentage{
	padding: 5px;
	border-radius: 10px;
	background-color: black;
	color: black;
}

.vision h5 {
	padding:10px  0px  10px  5px;
	line-height: 25px;
	letter-spacing: 1.5px;
}

.vision p {
	padding:10px  0px  10px  5px;
	line-height: 20px;
	letter-spacing: 1px;
	font-family: Georgia, 'Times New Roman', Times, serif;

}

.vision h3 {
	padding:10px  0px  10px  5px;
	color: blanchedalmond;
	letter-spacing: 1px;
	font-family: Georgia, 'Times New Roman', Times, serif;

}

.vision h2 {
	padding:10px  0px  10px  5px;
	letter-spacing: 1px;
	font-size: 35px;
	font-family: Georgia, 'Times New Roman', Times, serif;

}


/*Vision End*/




/*Portfolio  Page start*/
.portfolio{
	height: 100%;
	width: 100%;
	display: flex;
	padding-top: 15px;
	flex-direction: row;
	background-color: black;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	padding-bottom:10px ;
}

.portfolio-tag-1{
	flex-basis: 98%;
	background-color: black;
	color: yellow;
	text-align: center;
	letter-spacing: 1px;
	padding: 10px 0px 10px 0px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
	
}

.portfolio-tag-1 h3{
	font-size: 40px;
}

.portfolio-tag-1 p{
	font-size:18px;
	color: white;
}


.portfolio-img{
	width: 250px;
	height: 250px;
	border-radius: 100%;
	padding: 10px;
}



/*Portfolio  Page  End*/



/*Our Company   Page start*/
.our-company-img{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.our-company {
	padding: 10px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	background-color: black;

}

.our-company-1 h2{
	padding-bottom: 2px;
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 18px;
}


.our-company-1{
	text-align: center;
	color: yellow;
	flex-basis: 20%;
padding: 10px   10px 10px 10px;
margin: 5px;

}

/*Our Company   Page  End*/

/*Why Choose Us start*/

.why-us{
	padding: 20px  0px 10px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	background-color: black;
}

.wu-tabs{
	color: white;
	flex: 100%;
	letter-spacing: 1px;
	text-justify: auto;
	text-align: center;
}

.wu-tabs h2{
	font-size: 24px;
	font-family: AR JULIAN;
	letter-spacing: 2px;
	font-weight: 700;
	}

.wu-tabs h4{
font-size: 15px;
font-weight: 500;
}

.wu-tabs p{
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 1px;
	line-height: 25px;
}

.wu-tabs-1{
	flex-basis: 350px;
	color: white;
	text-align: center;
	padding: 10px 5px 10px 5px;
	margin:20px 5px 10px 10px ;
	box-shadow: 10px 10px 5px yellow;
}

.wu-tabs-1 p{
	padding-top: 5px;
	padding-bottom: 25px;
	font-size: 16px;
	line-height: 25px;
}

.wu-img{
	width: 30px;
	height: 30px;
}




/*Why Choose Us End*/


/*Review   Page start*/
.reviews-container {
	padding: 10px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	background-color:yellow;
}

.reviews-tab-1{
	margin: 10px;
	flex-basis: 450px;
	text-align: center;
	font-style: italic;
  color: white;

}

.reviews-tab-1 h2{
	padding-bottom: 15px;
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 46px;
}

.reviews-tab-1 p a{
	padding: 5px;
	letter-spacing: 1px;
	font-weight: bolder;
	font-size: 14px;
	color: black;
	border-style: solid;
	border-color: white;
}

.reviews-tab-2{
	flex-basis: 450px;
	text-align: center;
  color: black;

}

.Reviews-txt p{
	font-size: 16px;
	font-weight: bolder;
	color: black;
	letter-spacing: 2px;
}

.sub-menu-1{display:none;
} 
.Reviews-txt:hover .sub-menu-1 
{display:block;
text-align: center;
width: 98%;
background-color: black;
padding:5px;
color: white;
position:relative;}

.sub-menu-1 p{
	color: white;
}

.sub-menu-1 small{
	color: yellow;
}

/*Review    Page  End*/


/*Contact  Page start*/

.contact-us{
	height: 100%;
	width: 100%;
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
	flex-direction: row;
	background-color: black;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;}

	.contact-us-heading {
		text-align: center;
		flex-basis: 100%;
		color: yellow;
		font-size: 40px;
		letter-spacing: 2px;
		padding-bottom: 0px;
		margin-bottom: 20px;
	}

	.contact-us-tabs-img{
		width: 20px;
		height: 20px;
	}


.contact-us-tabs{
	border-style: solid;
	padding: 10px;
	border-color: yellow;
	background-color: yellow;
	border-radius: 20px;
	margin:0px 30px 20px 30px;
	flex-basis: 350px;
}


	.contact-us-tabs a{
		color: black;
		letter-spacing: 1px;
		font-size: 20px;
	}


	.contact-us-tabs-msg{
		border-style: solid;
		padding: 10px;
		border-color: yellow;
		background-color: yellow;
		border-radius: 20px;
		flex-basis: 150px;
		margin:20px 0px 0px 0px;
	}
	
	
		.contact-us-tabs-msg a{
			color: black;
			letter-spacing: 1px;
			font-size: 18px;
		}
	

	/*Contact  Page end*/

	/*Tutorials  Page Start*/

.tutorials-page  {
font-size: 20px;
font-family: Verdana, Tahoma, sans-serif;
font-weight: bolder;
}

.tutorials-page a  {
	font-size: 20px;
	color: white;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bolder;
	}


.tutorials-page-1{
	background-color: yellow;
	padding:10px
}

.tutorials-page-2{
	background-color: black;
	color:white;
	font-size: 150%;
	padding: 10px;
}

.tutorials-page-2  h5 {
	width: 120px;
	border-radius: 40px;
	background-color: black;
	border-style: solid;
	padding:10px;
	margin-top: 20px;
    text-align: center;
    justify-content: center;
	color:yellow;
	font-size: 50%;
}

.tutorials-page-2  h5 a {
	color:yellow;
}


.tutorials-main-page{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	margin-bottom: 20px;
}

.video-courses-1{
	flex-basis:375px ;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border-radius: 30px;
	border-style: groove;
}

.video-courses-1 h4{
	width:75% ;

}

.video-courses-1 h4 a{
	color: royalblue;
	letter-spacing: 2px;
	font-family:Niconne ;
}

.video-courses-1 p{
	color: black;
	letter-spacing: 1px;
	font-family:Niconne ;
	width:75% ;
}


.course-img-2{
	width: 250px;
	height: 100%;
	border-radius: 25px;
}

.digital-img{
	width: 80%;
	height: 100%;
	padding: 10px;
}

.tutorials-page-3{
	text-align: center;
	font-size: 300%;
background-color: black;
color: white;
padding: 10px;
letter-spacing: 3px;
}

.top-section{
	padding: 5px;
}

.top-section p{
font-size: 14px;
letter-spacing: 1px;

}

.tuts-page-info{
	padding: 5px;
	margin-bottom: 20px;
}

.tuts-page-info h1{
	font-size: 28px;
}

.tuts-page-info p{
	font-size: 14px;
}

.tuts-img-1{
	width: 95%;
	height: 100%;
	padding: 5px;
}

	/*Tutorials Page end*/

	/*Footer  Page start*/
  footer{
	  background-color: yellow;
	  width: 100%;
	  height:100% ;
	  padding:  20px    0px   0px  0px;
  }

  .main-footer{
	  text-align: center;
	  letter-spacing: 1px;
	  padding: 10px  0px  20px    0px;
  }

  .main-footer h2{
	font-size: 40px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
     font-weight: bolder;
	text-align: center;
	letter-spacing: 1px;
	padding: 10px  0px  20px    0px;
}


.main-footer p{
	font-size: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
	text-align: center;
	letter-spacing: 1px;
	padding: 10px  0px  20px    0px;
}

  .footer-img {
	  padding: 10px;
	  width: 50px;
	  height: 50px;
	  margin: 10px;
	  border-color: black;
	  border-style:solid ;
	  border-radius: 100%;
  }

  .last-footer{
	  text-align: center;
	  letter-spacing: 1px;
	  padding-bottom: 5px;

  }

  .last-footer  small{
font-size: 14px;
font-weight: bold;

}

.last-footer-1{
	font-size: 12px;
	text-align: center;
	letter-spacing: 2px;
}

.course-img{
width: 50%;
height: 80%;
padding: 5px;
}



	/*Footer  Page end*/
	
	
	